body {
    padding-top: 15%;
    
}

.button {
    height: 80px;
    width: 80px;
    padding: 0;
    background-color: lightgrey;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    cursor: pointer;
    margin: 1px;
}

.calculator {
    width: 340px;
    display: block;
    margin: auto;
    border: 6px solid grey;
}

.keyboard {
    display: flex;
    flex-direction: row;
}

.keyboard_style {
    text-align: center;
    background-color: darkgray;
}

.keyboard_style td {
    width: 40px;
    height: 40px;
    padding: 0;
}

.output {
    border: 3px  solid darkgray;
    
}

.txtOutput {
    margin: 0;
    height: 80px;
    width: 100%;
    background-color: lightgray;
    border: 0;
    font-size: 40px;
}

.numpad {
    border-top: 0px;
}

.operations {
    border-left: 0px;
    border-top: 0px;
}

